/* You can add global styles to this file, and also import other style files */
.tab-panel {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
}

.nav-tabs > li.open, .member-tabset > .nav-tabs > li:hover {
  border-bottom: 4px solid rgb(120, 120, 120);
}

.member-tabset > .nav-tabs > li > a, .member-tabset > .nav-tabs > li > a {
  border: 0;
  background: none !important;
  color: rgb(110, 110, 110);
}

.member-tabset > .nav-tabs > li.open .dropdown-menu, .member-tabset > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}

.member-tabset > .nav-tabs > li.active {
  border-bottom: 4px solid white;
  position: relative;
}

.member-tabset > .nav-tabs > li.active > a {
  border: 0 !important;
  background: none !important;
}

.member-tabset > .tab-content {
  margin-top: -3px;
  border: 0;
  padding: 15px 0;
}

@keyframes blink {
  0% {opacity: 0.1;}
  50% {opacity: 1;}
  100% {opacity: 0.1;}
}

.online {
  animation: blink 2.5s linear infinite;
  color: rgb(0, 255, 0);
}
