<div *ngIf="photos.length > 0">
  <div class="management">
    <div class="container">
      <button (click)="decrement()" class="btn decrement"><i class="fa fa-angle-left fa-4x"></i></button>
    </div>
    <img src="{{photos[index].url}}" alt="Not Found">
    <div class="container">
      <button (click)="increment()" class="btn increment"><i class="fa fa-angle-right fa-4x"></i></button>
    </div>
  </div>
  <div class="group">
    <button (click)="approve()" class="btn btn-info groupBtn">Approve</button>
    <button (click)="reject()" class="btn btn-danger groupBtn">Reject</button>
  </div>
</div>
<div *ngIf="photos.length === 0">
  No photos to moderate at this time!
</div>
