.dropdown, .dropdown-toggle, .dropdown-item {
  cursor: pointer;
}

.form-control {
  margin-right: 5px;
}

.dropdown-toggle {
  text-decoration: none;
}

img {
  max-height: 50px;
  border: 2px solid white;
  display: inline;
}